# Dependencies
node_modules/
package-lock.json

# Production build
build/
dist/

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/
